@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
:root {
  --blue: #0055A2;
  --gold: #E5A823;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', monospace;
}
input,
button,
select,
textarea {
  outline:none
}
.header {
  background-color: var(--blue);
  background-position: center;
}
.header .page-title {
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  color: var(--gold);
}
.button {
  background-color: #D2D2D2;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: var(--blue);
  color: var(--gold);
}
button {
  background-color: white;
  color: black;
  cursor: pointer;
}
.nav {
  background: #000;
  text-align: center;
}
.nav li {
  display: inline-block;
}
.nav button {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}
.nav button:hover {
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  z-index: auto;
  margin: auto;
  max-width: 600px;
  padding: 20px 0;
}
.footer p {
  color: #444;
  text-align: center;
  font-size: 12px;
}

.dashboard {
  width: 100%;
}

.AP,
.datasetSize,
.detectedObjects,
.cpuUsage,
.memLoad,
.netTraff,
.cpuTemp,
.imgStorage,
.dbIO,
.dbQuery,
.imgConf,
.upImg {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  min-width: 250px;
  text-decoration: none;
}

.sysStat,
.dbStat,
.nnStat {
  border: 1px solid var(--blue);
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 370px;
}

.sysStat h2,
.dbStat h2,
.nnStat h2 {
  color: var(--blue);
}

.sysChart,
.dbChart,
.nnChart {
  overflow-x: auto;
}

.switchViewButtons {
  width: 100%;
  height: 50px;
  z-index: 1000;
}
.switchViewButtons button {
  display: inline-block;
  float: left;
  height: 100%;
  width: 25%;
  text-decoration: none;
}
.loginSwitchButton {
  height: 50px;
  width: 100px;
}
.adminLogin,
.operatorLogin,
.signup {
  height: 500px;
  width: 100%;
}

.adminTitle,
.opTitle {
  color: var(--blue);
  text-align: center;
}

.adminInput,
.opInput,
.signupInput {
  margin-top: 20px;
  margin-left: 42%;
  margin-right: 42%;
  padding: 15px;
  border: 1px solid var(--blue);
}

.signupInput {
  margin-left: 40%;
  margin-right: 40%;
}

.adminLoginBtn,
.opLoginBtn,
.signupBtn {
  height: 25px;
  width: 50px;
  margin-left: 75%;
  margin-top: 10%;
  text-decoration: none;
}

.signupBtn {
  margin-left: 70%;
  width: 60px;
}

.signupSpan {
  margin-left: 90%;
}

.chosenColor {
  background-color: var(--blue);
  color: var(--gold);
}

.updateRecipeArea {
  margin-top: 20px;
  margin-left: 28%;
  margin-right: 28%;
  padding: 15px;
  border: 1px solid var(--blue);
}

.chartButtons {
  float: right;
}
.chartButtons button {
  width: 100px;
  height: 50px;
}
.recipeChart,
.revenueChart {
  margin-top: 60px;
}

.c3 .tick {
    display:none;
}