<!DOCTYPE html>
<html ng-app="dashboard">
  <head>
    <link rel="stylesheet" href="/GreenFigs/static/style.css">
    <!-- load c3.css-->
    <link rel="stylesheet" href="/GreenFigs/static/c3.css">
    <!-- load angular js-->
    <!--script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular-touch.min.js"></script>
    <!-- load jquery-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- load c3.js and d3.js-->
    <script src="/GreenFigs/static/d3.js" charset="utf-8"></script>
    <script src="/GreenFigs/static/c3.js"></script>
    <!-- external js to generate charts-->
    <script src="/GreenFigs/static/chartGen.js"></script>
    <!-- load dashboard angularjs application-->
    <script src="/GreenFigs/static/dashboard-angular.js"></script>
    <!-- load js app to change colors of divs and buttons dynamically-->
    <script src="/GreenFigs/static/changeColors.js"></script>
    <!-- load js app to fix the switchViewButtons at top-->
    <script src="/GreenFigs/static/scrollANDfix.js"></script>

    <!-- js function to dynamically set display parameter of div-->
    <script>
      var setVisibility = function(classNames) {
        document.getElementsByClassName(classNames[0])[0].style.display = "inline-block";
        $('.' + classNames[0] + "Button").toggleClass('chosenColor', true);
        for (index = 1; index < classNames.length; ++index) {
          document.getElementsByClassName(classNames[index])[0].style.display = "none";
          $('.' + classNames[index] + "Button").toggleClass('chosenColor', false);
        }
      }
      var setChartButtonsVisualbility = function(classNames) {
        $(classNames[0]).toggleClass('chosenColor', true);
        for (index = 1; index < classNames.length; ++index) {
          $(classNames[index]).toggleClass('chosenColor', false);
        }
      }
    </script>
  </head>
  <title>Green Figs</title>
  <body>
    <div class="header">
      <h1 class="page-title">Green Figs Dashboard</h1>
    </div>
    <div class="switchViewButtons">
      <button onclick="setVisibility([&quot;sysOps&quot;, &quot;dataViews&quot;])" class="button sysOpsButton">System Operations</button>
      <button onclick="setVisibility([&quot;dataViews&quot;, &quot;sysOps&quot;])" class="button dataViewsButton">Data Visualization</button>
    </div>
    <div ng-app="dashboard" class="dashboard">
      <!-- system opertations webpage-->
      <div class="sysOps">
        <div class="left-half">
          <div class="left-half-1">
              <div class="realTime-dataset"><span style="color:#008CBA">Dataset Size of Current Training Process:</span>
              <br>
              Mattress: <span my-current-dataset style="color:#ff4000"></span>
              <br>
              Couch: <span my-current-dataset style="color:#ff4000"></span>
              <br>
              Fridge: <span my-current-dataset style="color:#ff4000"></span>
              <br>
              Chair: <span my-current-dataset style="color:#ff4000"></span>
              <br>
              TV-Monitor: <span my-current-dataset style="color:#ff4000"></span></div>
            </div>
          </div>
        </div>
        <div class="right-half">
          
        </div>
      </div>
      <!-- data visualization webpage-->
      <div class="dataViews">
        <div class="dbStat">
          <h2>Database Status</h2>
          <div class="chartButtons">
            <button onclick="setChartButtonsVisualbility([&quot;.imgStorage&quot;, &quot;.dbIO&quot;, &quot;.datasetSize&quot;, &quot;.dbQuery&quot;, &quot;.imgConf&quot;, &quot;.upImg&quot;])" class="button imgStorage">Total Images in Database</button>
            <button onclick="setChartButtonsVisualbility([&quot;.datasetSize&quot;, &quot;.imgStorage&quot;, &quot;.dbIO&quot;, &quot;.dbQuery&quot;, &quot;.imgConf&quot;, &quot;.upImg&quot;])" class="button datasetSize">Images automatically<br>rejected by the algorithm</button>
            <button onclick="setChartButtonsVisualbility([&quot;.imgConf&quot;, &quot;.upImg&quot;, &quot;.imgStorage&quot;, &quot;.dbIO&quot;, &quot;.datasetSize&quot;, &quot;.dbQuery&quot;])" class="button imgConf">Images Confirmed by Administrators</button>
            <button onclick="setChartButtonsVisualbility([&quot;.upImg&quot;, &quot;.imgConf&quot;, &quot;.imgStorage&quot;, &quot;.dbIO&quot;, &quot;.datasetSize&quot;, &quot;.dbQuery&quot;])" class="button upImg">Uploaded Images</button>
            <button onclick="setChartButtonsVisualbility([&quot;.dbIO&quot;, &quot;.datasetSize&quot;, &quot;.imgStorage&quot;, &quot;.dbQuery&quot;, &quot;.imgConf&quot;, &quot;.upImg&quot;])" class="button dbIO">I/O Traffic</button>
            <button onclick="setChartButtonsVisualbility([&quot;.dbQuery&quot;, &quot;.datasetSize&quot;, &quot;.dbIO&quot;, &quot;.imgStorage&quot;, &quot;.imgConf&quot;, &quot;.upImg&quot;])" class="button dbQuery">Database Queries</button>
          </div>
          <div ng-controller="chartCtrl" class="dbChart"></div>
        </div>
        
        <div class="sysStat">
          <h2>System Status</h2>
          <div class="chartButtons">
            <button onclick="setChartButtonsVisualbility([&quot;.cpuUsage&quot;, &quot;.memLoad&quot;, &quot;.netTraff&quot;, &quot;.cpuTemp&quot;])" class="button cpuUsage">CPU Usage</button>
            <button onclick="setChartButtonsVisualbility([&quot;.memLoad&quot;, &quot;.cpuUsage&quot;, &quot;.netTraff&quot;, &quot;.cpuTemp&quot;])" class="button memLoad">Memory Load</button>
            <button onclick="setChartButtonsVisualbility([&quot;.netTraff&quot;, &quot;.memLoad&quot;, &quot;.cpuUsage&quot;, &quot;.cpuTemp&quot;])" class="button netTraff">Network Traffic</button>
            <button onclick="setChartButtonsVisualbility([&quot;.cpuTemp&quot;, &quot;.memLoad&quot;, &quot;.netTraff&quot;, &quot;.cpuUsage&quot;])" class="button cpuTemp">CPU Temprature</button>
          </div>
          <div ng-controller="chartCtrl" class="sysChart"></div>
        </div>
        
        <div class="nnStat">
          <h2>Neural Network Status</h2>
          <div class="chartButtons">
            <button onclick="setChartButtonsVisualbility([&quot;.AP&quot;, &quot;.detectedObjects&quot;])" class="button AP">Mean Accuracy</button>
            <button onclick="setChartButtonsVisualbility([&quot;.detectedObjects&quot;, &quot;.AP&quot;])" class="button detectedObjects">Detected Objects</button>
          </div>
          <div ng-controller="chartCtrl" class="nnChart"></div>
        </div>
        <!--<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB-denz3OyVbLzOvKpehCzSLJzNohqAebo &amp;q=Space+Needle,Seattle+WA" allowfullscreen class="detectLocations">       </iframe>-->
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2016 Wendy Boo, Alan Chen, Luwen Miao, Xiaoming Chuang</p>
    </div>